@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.showTodo {
    max-width: 1000px;
    display: block;
    margin-top: 50px;
    align-items: center;
}
.showTodo h3 {
    text-decoration: underline;
}
.fa-trash-alt, .fa-check-circle {
    cursor: pointer;
    padding: 10px;
}
.showTodo .todos .actions{
    padding: 10px;
}
.todos {
    margin: 0px auto;
    margin-bottom: 10px;
    padding: 30px;
    background: #FABC04;
    text-align: center;
    width: 200px;
    border: 1px solid #FFF375;
    border-radius: 20px;
}
.fa-trash-alt {
    color: red;
}
.fa-check-circle {
    color: green
}